.caption {
    font-size: 20px;
    text-indent: 20px;
    display: inline-block;
}
.progress{
    height: 4px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}
.pro-top{
    height: 100%;
    width: 20%;
    display: inline-block;
    position: absolute;
}


.player-page {
	width: 700px;
	margin: auto;
    margin-top: 120px;
}

.player-page	.caption {
		font-size: 16px;
		color: rgb(47, 152, 66);
	}

    .player-page	.cover {
		width: 180px;
		height: 180px;
        margin-left: 20px;
    }

    .player-page	.cover img {
			width: 180px;
			height: 180px;
			border-radius: 50%;
		}
	
        .player-page	.volume-container {
		position: relative;
		left: 20px;
		top: -3px;
	}
    .player-page	.volume-container .volume-wrapper {
		opacity: 0;
		transition: opacity .5s linear;
	}
    .player-page	.volume-container:hover .volume-wrapper {
		opacity: 1;
	}
    .player-page	.music-title {
	    font-size: 25px;
	    font-weight: 400;
	    color: rgb(3, 3, 3);
	    height: 36px;
	    line-height: 36px;
	}
    .player-page	.music-artist {
		font-size: 15px;
	    font-weight: 400;
	    color: rgb(74, 74, 74);
    }
    .player-page    .left-time {
    	font-size: 14px;
    	color: #999;
    	font-weight: 400;
    	width: 40px;
    }
    .player-page  .icon {
    	cursor: pointer;
    }
    .player-page   .ml20 {
    	margin-left: 20px;
    }
    .player-page  .mt35 {
    	margin-top: 35px;
    }
    .player-page .volume-wrapper {
    	width: 60px;
    	display: inline-block;
    }
